.app {
  text-align: center;
  height: 920px;
  display: flex;
  padding-top: 100px;
}

.app__separator {
  height: 500px;
  width: 1px;
  background-color: rgb(154 154 154);
  margin: 0 35px 0 20px;
  position: relative;
}

.app__separator .role-switcher {
  position: absolute;
  bottom: 0;
  right: 20px;
}